<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>is_teached</key>
		<false/>
		<key>level</key>
		<integer>1</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<true/>
	</dict>
	<dict>
		<key>level</key>
		<integer>2</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>3</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>4</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>5</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>6</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>7</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>8</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
	<dict>
		<key>level</key>
		<integer>9</integer>
		<key>is_star</key>
		<false/>
		<key>enable</key>
		<false/>
	</dict>
</array>
</plist>
